<table>
  <tbody>
    <tr>
      <td><p>Du hast eine neue Kontaktanfrage für Frühlingserwachen. Hier die Nachricht:</p></td>
    </tr>
    <tr>
      <td><p><%= @message %></p></td>
    </tr>
  </tbody>
</table>