/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* START FONT STYLING*/

h1,
h2,
h3 {
  font-family: Franklin Gothic Demi,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
}

p {
  font-family: Frankin Gothic Book,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
}

/* END FONT STYLING*/

/*START POSITIONING STYLING*/
.container{
  width: 80%; 
}

.container2{
  width: 88%; 
  margin: 0 auto; 
}

/*END POSITIONING STYLING*/



/*START NAV BAR*/
.sticker{
  background-color: #FFF;
}

.main-menu ul {
  padding-left: 0;
  border-style: solid;
  border-color: #000;
  border-width: 1px 0px 3px 0px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  text-align:center;
}

nav li{
  text-transform: uppercase;
}

.main-menu li {
  display:inline-block; 
}

.main-menu > ul > li > a {
  position:relative;
  font-weight: bold;
  font-style: normal;
  font-family: Franklin Gothic Demi,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
  font-size: 1.35em;
  color: #000000;
  height:50px;
  line-height:50px;
  padding-left:15px;
  padding-right:15px;
  display:block;
  float:left;
}

.main-menu > ul > li > a:hover{
  color: #333;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #mobile-menu {
  font-family: Franklin Gothic Demi,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
  font-size:1.35em;
  color: #000;
  text-transform: uppercase;
  }
  #menu-main.js {
    display: none;
  }

  .main-menu > ul > li > a {
    font-size: 1.1em;
    height: 40px;
  }

  ul {
    width:100%;
    list-style:none;
  }
  li {
    width:100%;
    border-right:none;
  }
}

@media screen and (min-width: 768px) {
  #mobile-menu {
    display: none;
  }

  .main-menu > ul > li:after {
    content:"/";
    font:normal 24px/24px Helvetica, Arial;
    display:block;
    float:left;
    width:6px;
    margin-top:14px;
    color: #333;
  }

  .main-menu > ul > li:last-child:after {
      display:none;
    }
}

/*END NAV BAR*/